<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>

    <h2>
        School Management Dashboard
    </h2>

    <h1>Welcome {{ username }}</h1>

    <!-- Dashboard Statistics -->
    <div class="dashboard-cards">

        <div class="card">
            <h2>Total Students</h2>
            <p>{{ student_count }}</p>
        </div>

        <div class="card">
            <h2>Total Teachers</h2>
            <p>{{ teacher_count }}</p>
        </div>

    </div>

    <br>

    <div class="menu">
        <a href="/students">👨‍🎓 Students</a>
        <a href="/teachers">👨‍🏫 Teachers</a>
        <a href="/timetable">📅 Timetable</a>
        <a href="/">🚪 Logout</a>
    </div>
</body>
</html>