<!DOCTYPE html>
<html>
<head>

    <title>TMG International Public School</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


    <!-- Top Navigation -->

    <div class="navbar">

        <div class="logo">
            TMG International Public School
        </div>


        <div class="nav-buttons">
            <a href="/register">
                Register
            </a>

            <a href="/login">
                Login
            </a>
        </div>

    </div>



    <!-- Moving Heading -->

    <div class="moving-container">
        <div class="moving-text">
            😍 Welcome to ❤️ TMG International Public School ❤️
        </div>
    </div>




    <!-- Center Content -->

    <div class="school-card">

        <h2>
            About Our School
        </h2>

        <p>
            TMG International Public School is dedicated to delivering
            excellence in education through modern teaching methods
            and innovative learning techniques.

            <br><br>

            We focus on nurturing students' academic growth,
            creativity, confidence, and moral values by providing
            a safe learning environment, experienced teachers,
            smart classrooms, and various skill development activities.

            <br><br>

            Contact : ✉️tanmay81@gmail.com 📞9522661803

            <span>
                "Education is the key that unlocks the door to success."
            </span>
        </p>
    </div>



    <footer>
        @2026 TMG Website
    </footer>
</body>
</html>